extend _layout
block content
      -each post in posts
       div.article
        a(href='/posts/#{post.ObjectId}')
            h2.grey #{post.title}
        h4.grey #{post.description}
            -each lang in post.languages
                span.blue.languages  #{lang}
        p.grey #{post.text}
        if post.gistid != null
            code(data-gist-id="#{post.gistid}")
        hr.separator


block sidebar
        h2.yellow.title Posts
        ul
          -each post in posts
            li
              a(href="/posts/#{post.ObjectId}") #{post.title}
        h2.yellow.title aboutMe
        p.grey Born from the 80's harvest. Code lover and a music junkie. That's it.
        p.grey 
          |"That rock 'n'roll, eh? That rock'n'roll, it just won't go away. It might hibernate from time to time, and sink back into the swamp. I think the cyclical nature of the universe in which it exists demands it adheres to some of its rules.
          |But it's always waiting there, just around the corner. Ready to make its way back through the sludge and smash through the glass ceiling, looking better than ever. Yeah, that rock'n'roll, it seems like it's faded away sometimes, but
          |it will never die. And there's nothing you can do about it."
        p.grey(style="text-align:right;color:") Alex Turner